@charset "UTF-8";

.chatBtn {
    background-color: maroon;
   
    
}

.giftBtn {
    background-color: maroon;
}



#yourMsg {
    text-align: start;
}

#myMsg {
    text-align: end;
}

#inventoryList{
    width: 100%;
}

.cardBorder {
    background-color: maroon;
    border: 2px solid white;
}

