#myPet {
    width: 20%;
    position: absolute; /*부모 태그를 기준으로 한 위치 - petParent div*/
    left: 500px;
    top: 400px;
    cursor: pointer;
}

#petChat {
    position: absolute;
    background-color: brown;
    
    
}



#reportsPage{
    background-image: url("/resources/img/ingame/background1.jpg");
    background-repeat: none;
    background-size: cover;
}