<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.team3.tamagochi.users.UsersDTO" alias="UsersDTO"/>
  		<typeAlias type="com.team3.tamagochi.store.CharacterDTO" alias="CharacterDTO"/>
  		<typeAlias type="com.team3.tamagochi.store.WeaponDTO" alias="WeaponDTO"/>
  		<typeAlias type="com.team3.tamagochi.store.WishlistDTO" alias="WishlistDTO"/>
  		<typeAlias type="com.team3.tamagochi.friend.FriendDTO" alias="FriendDTO"/>
  		<typeAlias type="com.team3.tamagochi.friend.AlarmDTO" alias="AlarmDTO"/>
  		<typeAlias type="com.team3.tamagochi.record.RecordDTO" alias="RecordDTO"/>
  		<typeAlias type="com.team3.tamagochi.store.ItemDTO" alias="ItemDTO"/>
  		
  	</typeAliases>

  	


  </configuration>