<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.team3.tamagochi.users.UsersDTO" alias="UsersDTO"/>
  		<typeAlias type="com.team3.tamagochi.users.InventoryDTO" alias="InventoryDTO"/>
  		<typeAlias type="com.team3.tamagochi.users.TransactionDTO" alias="TransactionDTO"/>
  		
  		<typeAlias type="com.team3.tamagochi.friend.FriendDTO" alias="FriendDTO"/>
  		<typeAlias type="com.team3.tamagochi.friend.AlarmDTO" alias="AlarmDTO"/>
  		
  		<typeAlias type="com.team3.tamagochi.record.RecordDTO" alias="RecordDTO"/>
  		<typeAlias type="com.team3.tamagochi.record.RecordDTO" alias="RecordDTO"/>
  		
  		<typeAlias type="com.team3.tamagochi.store.ItemDTO" alias="ItemDTO"/>
  		<typeAlias type="com.team3.tamagochi.store.ItemFileDTO" alias="ItemFileDTO"/>
  		<typeAlias type="com.team3.tamagochi.store.WishListDTO" alias="WishListDTO"/>
  		
  		<typeAlias type="com.team3.tamagochi.notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.team3.tamagochi.qna.QnaDTO" alias="QnaDTO"/>
  		<typeAlias type="com.team3.tamagochi.rank.RankDTO" alias="RankDTO"/>
  		<typeAlias type="com.team3.tamagochi.userboard.UserBoardDTO" alias="UserBoardDTO"/>
  		<typeAlias type="com.team3.tamagochi.userboard.UserBoardCommentDTO" alias="UserBoardCommentDTO"/>
  		
  		
  		
  		
  		<typeAlias type="com.team3.tamagochi.mypet.MyPetDTO" alias="MyPetDTO"/>
  		
  		<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="com.team3.tamagochi.boards.util.Pager" alias="Pager"/>
  		
  	</typeAliases>

  	


  </configuration>