<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.team3.tamagochi.admin.AdminDAO">
  	
  	<select id="getUserList" resultType="UsersDTO">
  		SELECT USER_ID, USER_AUTH
  		FROM USERS
  	</select>
  	
  	<select id="getUserDetail" resultType="UsersDTO" parameterType="UsersDTO">
  		SELECT * FROM USERS
  		WHERE USER_ID = #{user_id}
  	</select>
  	
  	<!-- 관리자가 선택한 유저의 거래 내역을 조회하는 쿼리문 -->
  	<select id="getUserTradeList" parameterType="TransactionDTO" resultMap="TradeList">
  		SELECT i.ITEM_NAME, t.TRANSACTION_DATE, t.TRANSACTION_AMOUNT, t.TRANSACTION_TYPE
  		FROM TRANSACTION t
		INNER JOIN ITEM i
		ON (t.ITEM_NUM = i.ITEM_NUM)
		WHERE t.USER_ID = #{user_id}
  	</select>
  	<resultMap type="TransactionDTO" id="TradeList">
  		<id column="TRANSACTION_NUM" property="transaction_num"></id>
  		<result column="USER_ID" property="user_id"></result>
  		<result column="ITEM_NUM" property="item_num"></result>
  		<result column="TRANSACTION_DATE" property="transaction_date"></result>
  		<result column="TRANSACTION_AMOUNT" property="transaction_amount"></result>
  		<result column="TRANSACTION_TYPE" property="transaction_type"></result>
  		
  		<association property="itemDTO" javaType="ItemDTO">
			<result column="ITEM_NAME" property="item_name"></result>  		
  		</association>
  	</resultMap>
  	
  
  </mapper>
