<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.team3.tamagochi.admin.AdminDAO">
  	
  	<select id="getUserList" resultType="UsersDTO">
  		SELECT USER_ID, USER_AUTH
  		FROM USERS
  	</select>
  	
  	<select id="getUserDetail" resultType="UsersDTO" parameterType="UsersDTO">
  		SELECT * FROM USERS
  		WHERE USER_ID = #{user_id}
  	</select>
  	
  	<update id="updateUserDetail" parameterType="UsersDTO">
  		UPDATE USERS SET
  		USER_NAME = #{user_name}, USER_NICKNAME = #{user_nickname},
  		USER_PHONE = #{user_phone}, USER_EMAIL = #{user_email}, USER_AUTH = #{user_auth}
		WHERE USER_ID = #{user_id}
  	</update>
  	
  	<update id="updateUserResign" parameterType="UsersDTO">
  		UPDATE USERS SET
  		USER_RESIGN = #{user_resign}
		WHERE USER_ID = #{user_id}
  	</update>
  	
  	<!-- 관리자가 선택한 유저의 거래 내역을 조회하는 쿼리문 -->
  	<select id="getUserTradeList" parameterType="TransactionDTO" resultMap="TradeList">
  		SELECT i.ITEM_NAME, t.TRANSACTION_DATE, t.TRANSACTION_AMOUNT, t.TRANSACTION_TYPE
  		FROM TRANSACTION t
		INNER JOIN ITEM i
		ON (t.ITEM_NUM = i.ITEM_NUM)
		WHERE t.USER_ID = #{user_id}
  	</select>
  	<resultMap type="TransactionDTO" id="TradeList">
  		<id column="TRANSACTION_NUM" property="transaction_num"></id>
  		<result column="USER_ID" property="user_id"></result>
  		<result column="ITEM_NUM" property="item_num"></result>
  		<result column="TRANSACTION_DATE" property="transaction_date"></result>
  		<result column="TRANSACTION_AMOUNT" property="transaction_amount"></result>
  		<result column="TRANSACTION_TYPE" property="transaction_type"></result>
  		
  		<association property="itemDTO" javaType="ItemDTO">
			<result column="ITEM_NAME" property="item_name"></result>  		
  		</association>
  	</resultMap>
  	
  	<!-- 월별 매출과 환불 구하는 쿼리문 -->
  	<select id="getSales" resultType="SalesDTO">
		SELECT SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '01', TRANSACTION_AMOUNT)) AS "M1",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '02', TRANSACTION_AMOUNT)) AS "M2",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '03', TRANSACTION_AMOUNT)) AS "M3",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '04', TRANSACTION_AMOUNT)) AS "M4",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '05', TRANSACTION_AMOUNT)) AS "M5",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '06', TRANSACTION_AMOUNT)) AS "M6",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '07', TRANSACTION_AMOUNT)) AS "M7",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '08', TRANSACTION_AMOUNT)) AS "M8",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '09', TRANSACTION_AMOUNT)) AS "M9",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '10', TRANSACTION_AMOUNT)) AS "M10",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '11', TRANSACTION_AMOUNT)) AS "M11",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '12', TRANSACTION_AMOUNT)) AS "M12"
		 FROM TRANSACTION
		 WHERE TRANSACTION_DATE BETWEEN TO_DATE('2024-01-01') AND TO_DATE('2024-12-31') AND TRANSACTION_TYPE ='구입'
  	</select>
  	  	<!-- <select id="getSales" resultType="SalesDTO">
		SELECT SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '01', TRANSACTION_AMOUNT)) AS "M1",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '02', TRANSACTION_AMOUNT)) AS "M2",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '03', TRANSACTION_AMOUNT)) AS "M3",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '04', TRANSACTION_AMOUNT)) AS "M4",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '05', TRANSACTION_AMOUNT)) AS "M5",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '06', TRANSACTION_AMOUNT)) AS "M6",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '07', TRANSACTION_AMOUNT)) AS "M7",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '08', TRANSACTION_AMOUNT)) AS "M8",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '09', TRANSACTION_AMOUNT)) AS "M9",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '10', TRANSACTION_AMOUNT)) AS "M10",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '11', TRANSACTION_AMOUNT)) AS "M11",
		 SUM(DECODE(TO_CHAR(TRANSACTION_DATE, 'MM'), '12', TRANSACTION_AMOUNT)) AS "M12"
		 FROM TRANSACTION
		 WHERE TRANSACTION_DATE BETWEEN TO_DATE('2024-01-01') AND TO_DATE('2024-12-31') AND TRANSACTION_TYPE ='환불'
  	</select> -->
  	
  
  </mapper>
