<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.team3.tamagochi.friend.FriendDAO">
  	
  	<select id="getFriendList" parameterType="FriendDTO" resultMap="detailFriend">
  		SELECT u.*, f.*
			FROM USERS u 
			LEFT JOIN
			FRIEND f 
			ON u.USER_ID = f.USER_ID 
		WHERE u.USER_ID =#{user_id}
  	</select>
  	
  	<select id="getFriendDetail" parameterType="FriendDTO" resultMap="detailFriend">
  		SELECT u.*, f.*
			FROM USERS u 
			LEFT JOIN
			FRIEND f 
			ON u.USER_ID = f.FRIEND_ID 
		WHERE f.FRIEND_NUM = #{friend_num}
  	</select>
  	
  	<resultMap type="UsersDTO" id="detailFriend">
  		<id column="USER_ID" property="user_id"/>
  			<result column="USER_PW" property="user_pw"/>
  			<result column="USER_NAME" property="user_name"/>
  			<result column="USER_NICKNAME" property="user_nickname"/>
  			<result column="USER_PHONE" property="user_phone"/>
  			<result column="USER_EMAIL" property="user_email"/>
  			<result column="USER_AUTH" property="user_auth"/>
  			<result column="USER_RESIGN" property="user_resign"/>
  
  		<collection property="friendDTO" javaType="java.util.List" ofType="FriendDTO">
  			<id column="FRIEND_NUM" property="friend_num"/>
  			<result column="USER_ID" property="user_id"/>
  			<result column="FRIEND_ID" property="friend_id"/>
  		</collection>
  	</resultMap>
  	
  	<delete id="deleteFriend" parameterType="FriendDTO">
  		DELETE FROM FRIEND WHERE friend_num = #{friend_num}
  	</delete>
  	
  </mapper>
