<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.team3.tamagochi.friend.FriendDAO">
  
  	<!-- 친구 만들기 -->
  	<insert id="makeFriends" parameterType="FriendDTO">
  		INSERT INTO FRIEND VALUES (FRIEND_SEQ.NEXTVAL, #{user_id}, #{friend_id})
  	</insert>
  	
  	<!-- 친구 리스트 -->
  	<select id="getFriendList" parameterType="FriendDTO" resultMap="detailFriend">
  		SELECT u.*, f.*
			FROM USERS u 
			LEFT JOIN
			FRIEND f 
			ON u.USER_ID = f.USER_ID 
		WHERE u.USER_ID =#{user_id}
  	</select>
  	
  	<!-- 친구 디테일 -->
  	<select id="getFriendDetail" parameterType="FriendDTO" resultMap="detailFriend">
  		SELECT u.*, f.*
			FROM USERS u 
			LEFT JOIN
			FRIEND f 
			ON u.USER_ID = f.FRIEND_ID 
		WHERE f.FRIEND_NUM = #{friend_num}
  	</select>
  	
  	<resultMap type="UsersDTO" id="detailFriend">
  		<id column="USER_ID" property="user_id"/>
  			<result column="USER_PW" property="user_pw"/>
  			<result column="USER_NAME" property="user_name"/>
  			<result column="USER_NICKNAME" property="user_nickname"/>
  			<result column="USER_PHONE" property="user_phone"/>
  			<result column="USER_EMAIL" property="user_email"/>
  			<result column="USER_AUTH" property="user_auth"/>
  			<result column="USER_RESIGN" property="user_resign"/>
  
  		<collection property="friendDTO" javaType="java.util.List" ofType="FriendDTO">
  			<id column="FRIEND_NUM" property="friend_num"/>
  			<result column="USER_ID" property="user_id"/>
  			<result column="FRIEND_ID" property="friend_id"/>
  		</collection>
  	</resultMap>
  	
  	<!-- 친구 삭제 -->
  	<delete id="deleteFriend" parameterType="FriendDTO">
  		DELETE FROM FRIEND WHERE USER_ID = #{user_id} AND FRIEND_ID=#{friend_id}
  	</delete>
  	
  	<!-- 내 소지품에서 아이템 가져오는 쿼리문. JOIN을 사용했기 때문에 ResultMap이 필요하다 -->
  	<select id="getInvenList" parameterType="UsersDTO" resultMap="invenResult">
  		SELECT * FROM
  		INVENTORY I
		LEFT JOIN
		ITEM IT
		ON I.ITEM_NUM = IT.ITEM_NUM
		WHERE I.user_id = #{user_id}
  	</select>
  	<resultMap type="ItemDTO" id="invenResult">
  		<id column="ITEM_NUM" property="item_num"></id>
  		<result column="ITEM_NAME" property="item_name"></result>
  		<result column="ITEM_DESCRIPTION" property="item_description"></result>
  		<result column="ITEM_HP" property="item_hp"></result>
  		<result column="ITEM_ATK" property="item_atk"></result>
  		<result column="ITEM_DOD" property="item_dod"></result>
  		
  		<association property="inventoryDTO" javaType="InventoryDTO">
  			<id column="INVENTORY_NUM" property="inventory_num"></id>
  			<result column="USER_ID" property="user_id"/>
  		</association>
  	</resultMap>
  	
  	<insert id="takeGift" parameterType="InventoryDTO">
  		INSERT INTO INVENTORY VALUES (INVEN_SEQ.NEXTVAL, #{item_num}, #{user_id})
  	</insert>
  	
  	<delete id="sendGift" parameterType="InventoryDTO">
  		DELETE INVENTORY WHERE ITEM_NUM = #{item_num} AND USER_ID = #{user_id}
  	</delete>
  	
  </mapper>
