<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.team3.tamagochi.ingame.InGameDAO">
  	<select id="getPetStatus" parameterType="UsersDTO" resultType="MyPetDTO">
  		SELECT * FROM MY_PET WHERE USER_ID = #{user_id} AND PET_NAME = '박쥐'
  	</select>
  	
  	<update id="feedPet" parameterType="UsersDTO">
  		UPDATE MY_PET SET PET_HUNGRY = PET_HUNGRY + 10 WHERE USER_ID = #{user_id} AND PET_NAME = '박쥐'
  	</update>
  	
  </mapper>
