<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.team3.tamagochi.ingame.InGameDAO">
  	<select id="getPetStatus" parameterType="MyPetDTO" resultType="MyPetDTO">
  		SELECT * FROM MY_PET WHERE USER_ID = #{user_id} AND PET_SELECTED = 1
  	</select>
  	
  	<select id="checkPetStatus" parameterType="MyPetDTO" resultType="MyPetDTO">
  		SELECT * FROM MY_PET WHERE PET_NUM = #{pet_num}
  	</select>
  	
  	<update id="feedPet" parameterType="MyPetDTO">
  		UPDATE MY_PET SET PET_HUNGRY = PET_HUNGRY + 50, PET_EXP = PET_EXP + 50 , PET_WASHROOM = PET_WASHROOM + 30 WHERE PET_NUM = #{pet_num}
  	</update>
  	
  	<update id="strollPet" parameterType="MyPetDTO">
  		UPDATE MY_PET SET PET_EXP = PET_EXP + 50, PET_HUNGRY = PET_HUNGRY - 20 WHERE PET_NUM = #{pet_num}
  	</update>
  	
  	<update id="cleanPet" parameterType="MyPetDTO">
  		UPDATE MY_PET SET PET_WASHROOM = 0 WHERE PET_NUM = #{pet_num}
  	</update>
  	
  	<select id="getPetExp" parameterType="MyPetDTO" resultType="java.lang.Long">
  		SELECT PET_EXP FROM MY_PET WHERE PET_NUM = #{pet_num}
  	</select>
  	
  	<update id="levelUp" parameterType="MyPetDTO">
  		UPDATE MY_PET SET PET_LEVEL = PET_LEVEL + 1, PET_EXP = 0 WHERE PET_NUM = #{pet_num}
  	</update>
  	
  	<update id="evolutionUp" parameterType="MyPetDTO">
  		UPDATE MY_PET SET PET_EVOLUTION = PET_EVOLUTION + 1 WHERE PET_NUM = #{pet_num}
  	</update>
  	
  	<select id="getPetImg" parameterType="UsersDTO" resultMap="petImage">
  		SELECT * FROM 
			MY_PET mp 
			LEFT JOIN 
			ITEMFILE ITF
			ON mp.ITEM_NUM = itf.ITEM_NUM 
		WHERE mp.PET_SELECTED =1 AND mp.USER_ID = #{user_id}
  	</select>
  	
  	<resultMap type="MyPetDTO" id="petImage">
  		<id column="PET_NUM" property="pet_num"/>
  		<result column="USER_ID" property="user_id"></result>
  		<result column="ITEM_NUM" property="item_num"></result>
  		<result column="PET_NAME" property="pet_name"></result>
  		<result column="PET_SPC" property="pet_spc"></result>
  		<result column="PET_EXP" property="pet_exp"></result>
  		<result column="PET_LEVEL" property="pet_level"></result>
  		<result column="PET_HP" property="pet_hp"></result>
  		<result column="PET_ATK" property="pet_atk"></result>
  		<result column="PET_DOD" property="pet_dod"></result>
  		<result column="PET_POP" property="pet_pop"></result>
  		<result column="PET_HUNGRY" property="pet_hungry"></result>
  		<result column="PET_SELECTED" property="pet_selected"></result>
  		<result column="PET_WASHROOM" property="pet_washroom"></result>
  		<result column="ADD_HP" property="add_hp"></result>
  		<result column="ADD_ATK" property="add_atk"></result>
  		<result column="ADD_DOD" property="add_dod"></result>
  		<result column="EQUIP_NUM" property="equip_num"></result>
  		<result column="PET_EVOLUTION" property="pet_evolution"></result>
  		
  		
  		<association property="itemFileDTO" javaType="ItemFileDTO">
  			<id column="FILE_NUM" property="file_num"/>
  			<result column="FILE_NAME" property="file_name"/>
  			<result column="ORI_NAME" property="ori_name"/>
  		</association>
  		
  	</resultMap>
  	
  	<select id="getWeaponImg" parameterType="UsersDTO" resultMap="weaponImage">
  		SELECT * FROM 
			MY_PET mp 
			LEFT JOIN 
			INVENTORY i 
			ON mp.EQUIP_NUM = i.INVENTORY_NUM 
			LEFT JOIN 
			ITEMFILE itf 
			ON i.ITEM_NUM = itf.ITEM_NUM 
		WHERE mp.PET_SELECTED =1 AND mp.USER_ID = #{user_id}
  	</select>
  	
  	<resultMap type="MyPetDTO" id="weaponImage">
  		<id column="PET_NUM" property="pet_num"/>
  		<result column="USER_ID" property="user_id"></result>
  		<result column="ITEM_NUM" property="item_num"></result>
  		<result column="PET_NAME" property="pet_name"></result>
  		<result column="PET_SPC" property="pet_spc"></result>
  		<result column="PET_EXP" property="pet_exp"></result>
  		<result column="PET_LEVEL" property="pet_level"></result>
  		<result column="PET_HP" property="pet_hp"></result>
  		<result column="PET_ATK" property="pet_atk"></result>
  		<result column="PET_DOD" property="pet_dod"></result>
  		<result column="PET_POP" property="pet_pop"></result>
  		<result column="PET_HUNGRY" property="pet_hungry"></result>
  		<result column="PET_SELECTED" property="pet_selected"></result>
  		<result column="PET_WASHROOM" property="pet_washroom"></result>
  		<result column="ADD_HP" property="add_hp"></result>
  		<result column="ADD_ATK" property="add_atk"></result>
  		<result column="ADD_DOD" property="add_dod"></result>
  		<result column="EQUIP_NUM" property="equip_num"></result>
  		<result column="PET_EVOLUTION" property="pet_evolution"></result>
  		
  		<association property="inventoryDTO" javaType="InventoryDTO">
  			<id column="INVENTORY_NUM" property="inventory_num"></id>
  		</association>
  		
  		<association property="itemFileDTO" javaType="ItemFileDTO">
  			<id column="FILE_NUM" property="file_num"/>
  			<result column="FILE_NAME" property="file_name"/>
  			<result column="ORI_NAME" property="ori_name"/>
  		</association>
  		
  	</resultMap>
  	
  	<select id="getItemNumForWeapon" parameterType="InventoryDTO" resultType="ItemDTO">
  		SELECT * FROM INVENTORY i WHERE INVENTORY_NUM = #{inventory_num}
  	</select>
  	
  	<insert id="fightResult" parameterType="RecordDTO">
  		INSERT INTO RECORD VALUES (RECORD_SEQ.NEXTVAL, #{pet_num}, #{record_outcome}, #{record_enemy_num}, SYSDATE, #{enemy_user_id})
  	</insert>
  	
  	<select id="fightScore" parameterType="RecordDTO" resultType="RecordDTO">
  		SELECT * FROM RECORD 
			WHERE RECORD_NUM = 
			(SELECT MAX(#{record_num}) 
			FROM RECORD
			WHERE PET_NUM = #{pet_num}
			AND RECORD_ENEMY_NUM  = #{record_enemy_num} 
			AND RECORD_OUTCOME = 1)
  	</select>
  	
  	<select id="getFightList" parameterType="RecordDTO" resultType="RecordDTO">
  		SELECT * FROM RECORD WHERE PET_NUM = #{pet_num}
  	</select>
  	
  </mapper>
