<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.team3.tamagochi.notice.NoticeDAO">
  
  	<select id="list" resultType="NoticeDTO" parameterType="NoticeDTO">
  		SELECT
  			NOTICE_NUM
  			,USER_ID
  			,NOTICE_TITLE
  			,NOTICE_CREATE_DATE
  			,NOTICE_HIT
  			,NOTICE_CONTENTS
  		FROM
  			NOTICE
  	
  	</select>
  	
  	<insert id="add" parameterType="NoticeDTO">
  		INSERT INTO NOTICE
  		(
  		NOTICE_NUM,USER_ID,NOTICE_TITLE,NOTICE_CONTENTS
  		)
  		VALUES (BOARD_SEQ.NEXTVAL, #{user_id}, #{notice_title},#{notice_contents})
  	
  	
  	</insert>
  	
  	
  	<select id="detail" resultType="NoticeDTO" resultMap="detailResult">
  		SELECT
  		 	N.*
  		FROM
  			NOTICE N
  		WHERE N.NOTICE_NUM =#{notice_num}
  	
  	</select>
  	<resultMap type="NoticeDTO" id="detailResult">
  		<id column="NOTICE_NUM" property="notice_num"/>
  		<result column="USER_ID" property="user_id"/>
  		<result column="NOTICE_TITLE" property="notice_title"/>
  		<result column="NOTICE_CREATE_DATE" property="notice_create_date"/>
  		<result column="NOTICE_HIT" property="notice_hit"/>
  		<result column="NOTICE_CONTENTS" property="notice_contents"/>

  	
  	</resultMap>
  	
  	
  	<update id="hit" parameterType="NoticeDTO">
  		UPDATE NOTICE
		SET NOTICE_HIT = NOTICE_HIT +1
		WHERE NOTICE_NUM = #{notice_num}
  	
  	</update>
  	
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE FROM NOTICE WHERE NOTICE_NUM = #{notice_num}
  	</delete>
  	
  </mapper>