<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team3.tamagochi.store.StoreDAO">
  
  	<select id="getItemList" parameterType="Integer" resultType="ItemDTO">
  		SELECT *
  		FROM
  			<choose>
  				<when test="value == 0"> CHARACTER </when>
  				<otherwise> WEAPON </otherwise>
  			</choose>
  		ORDER BY ITEM_NUM ASC
  	</select>
  	
  	<select id="getWeaponDetail" parameterType="Long" resultType="WeaponDTO">
  		SELECT *
  		FROM WEAPON
  		WHERE ITEM_NUM=#{item_num}
  	</select>
  	
  	<select id="getCharacterDetail" parameterType="Long" resultType="CharacterDTO">
  		SELECT *
  		FROM CHARACTER
  		WHERE ITEM_NUM=#{item_num}
  	</select>
  
  </mapper>