<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team3.tamagochi.store.StoreDAO">
  
  	<select id="checkInven" parameterType="InventoryDTO" resultType="Integer">
  		SELECT COUNT(*)
  		FROM MY_PET
	  	WHERE EQUIP_NUM = #{inventory_num}
  	</select>
  
  	<select id="getInven" parameterType="ItemDTO" resultType="InventoryDTO">
		SELECT *
		FROM INVENTORY
		WHERE ITEM_NUM = #{item_num}	
  	</select>
  	
	<select id="checkPet" parameterType="ItemDTO" resultType="Integer">
		SELECT COUNT(*)
		FROM MY_PET
		WHERE ITEM_NUM = #{item_num}
	</select>
  
  	<select id="checkDuplication" parameterType="WishListDTO" resultType="WishListDTO">
  		SELECT *
  		FROM
	  		<choose>
	  			<when test="itemDTO.category_num==0">
	  				MY_PET
	  			</when>
	  			<otherwise>
	  				INVENTORY
	  			</otherwise>
	  		</choose>
  		WHERE ITEM_NUM = #{item_num} AND USER_ID = #{user_id}
  	</select>
  
  	<insert id="addBag" parameterType="java.util.Map">
  		INSERT INTO
  		<choose>
  			<when test="itemDTO.category_num == 0">
  				MY_PET (PET_NUM, USER_ID, ITEM_NUM, PET_NAME, PET_SPC, PET_EXP, PET_LEVEL, PET_HP, PET_ATK, PET_DOD, PET_POP, PET_HUNGRY, PET_WASHROOM)
  				VALUES (PET_SEQ.NEXTVAL, #{id}, #{itemDTO.item_num}, #{itemDTO.item_name}, #{itemDTO.item_name}, 0, 1, #{itemDTO.item_hp}, #{itemDTO.item_atk}, #{itemDTO.item_dod}, 0, 0, 0)
  			</when>
  			<otherwise>
  				INVENTORY (INVENTORY_NUM, ITEM_NUM, USER_ID)
  				VALUES (INVEN_SEQ.NEXTVAL, #{itemDTO.item_num}, #{id})
  			</otherwise>
  		</choose>
  	</insert>
  
  	<insert id="addTransaction" parameterType="com.team3.tamagochi.users.TransactionDTO">
  		INSERT INTO TRANSACTION (TRANSACTION_NUM, USER_ID, ITEM_NUM, TRANSACTION_AMOUNT, TRANSACTION_TYPE, TRANSACTION_ORDER)
  		VALUES (TRANSACTION_SEQ.NEXTVAL, #{user_id}, #{item_num}, #{transaction_amount}, #{transaction_type}, #{transaction_order})
  	</insert>
  
  	<insert id="addfile" parameterType="ItemFileDTO">
  		INSERT INTO ITEMFILE (FILE_NUM, FILE_NAME, ORI_NAME, ITEM_NUM)
  		VALUES (ITEMFILE_SEQ.NEXTVAL, #{file_name}, #{ori_name}, #{item_num})
  	
  	</insert>
  	
  	<select id="getNum" resultType="Long">
  		SELECT ITEM_SEQ.NEXTVAL FROM DUAL
  	</select>
  
  	<delete id="deleteWishList" parameterType="wishListDTO">
  	 DELETE WISHLIST
  	 WHERE USER_ID = #{user_id} AND WISHLIST_NUM = #{wishlist_num}
  	
  	</delete>
  
  	<select id="getWishList" parameterType="UsersDTO" resultMap="getItemDTO">
  		SELECT W.*, I.*
		FROM WISHLIST W
			LEFT JOIN 
			ITEM I
			ON (W.ITEM_NUM = I.ITEM_NUM)
		WHERE USER_ID = #{user_id} AND I.ITEM_DEL = 0
		ORDER BY WISHLIST_NUM ASC
  	</select>
  	
  	<resultMap type="WishListDTO" id="getItemDTO">
  		<id column="WISHLIST_NUM" property="wishlist_num"/>
  		<result column="USER_ID" property="user_id"/>
  		<result column="ITEM_NUM" property="item_num"/>
  		
  		<association property="itemDTO" javaType="ItemDTO">
  			<result column="CATEGORY_NUM" property="category_num"/>
  			<result column="ITEM_NAME" property="item_name"/>
  			<result column="ITEM_DESCRIPTION" property="item_description"/>
  			<result column="ITEM_HP" property="item_hp"/>
  			<result column="ITEM_ATK" property="item_atk"/>
  			<result column="ITEM_DOD" property="item_dod"/>
  			<result column="ITEM_PRICE" property="item_price"/>
  		</association>
  	</resultMap>
  	
  	<select id="getWishListDetail" parameterType="WishListDTO" resultMap="getItemDTO">
  		SELECT W.*, I.*
  		FROM WISHLIST W
  			LEFT JOIN
  			ITEM I
  			ON (W.ITEM_NUM = I.ITEM_NUM)
  		WHERE W.WISHLIST_NUM=#{wishlist_num} AND I.ITEM_DEL =0
  	</select>
  	
  
  	<insert id="addWishList" parameterType="WishListDTO">
  		INSERT INTO WISHLIST (WISHLIST_NUM, USER_ID, ITEM_NUM)
  		VALUES (WISHLIST_SEQ.NEXTVAL, #{user_id}, #{item_num})
  	</insert>
  	
  	<select id="filedetail" parameterType="ItemDTO" resultType="ItemFileDTO">
		SELECT *
		FROM ITEMFILE
		WHERE ITEM_NUM = #{item_num}
		ORDER BY FILE_NUM ASC
  	</select>
  
  	<select id="getItemList" parameterType="Map" resultType="ItemDTO">
  		SELECT *
  		FROM (SELECT ROWNUM R, C.*
				FROM (SELECT *
		  				FROM ITEM I
		  				WHERE I.CATEGORY_NUM = #{itemDTO.category_num} AND I.ITEM_DEL = 0
		  				ORDER BY I.ITEM_NUM DESC) C
		  		<where>
  					<choose>
  						<when test="pager.kind=='k1'">
  							C.ITEM_NAME LIKE '%'||#{pager.search}||'%')
  						</when>
  						<otherwise>
  							C.ITEM_PRICE LIKE '%'||#{pager.search}||'%')
  						</otherwise>
  					</choose>
  				</where>
  		WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
  	</select>
  	
  	<select id="getItemDetail" parameterType="ItemDTO" resultMap="itemlist">
  		SELECT I.*, IF.*
  		FROM ITEM I
  			LEFT JOIN
  			ITEMFILE IF
  			ON (I.ITEM_NUM=IF.ITEM_NUM)
  		WHERE I.ITEM_NUM=#{item_num}
  	</select>
  	
  	<resultMap type="ItemDTO" id="itemlist">
  		<id column="ITEM_NUM" property="item_num"/>
  		<result column="CATEGORY_NUM" property="category_num"/>
  		<result column="ITEM_NAME" property="item_name"/>
  		<result column="ITEM_DESCRIPTION" property="item_description"/>
  		<result column="ITEM_HP" property="item_hp"/>
  		<result column="ITEM_ATK" property="item_atk"/>
  		<result column="ITEM_DOD" property="item_dod"/>
  		<result column="ITEM_PRICE" property="item_price"/>
  		
  		<collection property="itemFileDTOs" javaType="java.util.List" ofType="ItemFileDTO">
  		  	<id column="FILE_NUM" property="file_num"/>
  			<result column="FILE_NAME" property="file_name"/>
  			<result column="ORI_NAME" property="ori_name"/>
  		</collection>
  	
  	</resultMap>
  	
  	<select id="getTotalCount" parameterType="Map" resultType="Integer">
  		SELECT COUNT(C.ITEM_NUM)
  		FROM (SELECT *
  				FROM ITEM
  				WHERE CATEGORY_NUM = #{itemDTO.category_num} AND ITEM_DEL = 0) C
  		<where>
  			<choose>
  				<when test="pager.kind=='k1'">
  					C.ITEM_NAME LIKE '%'||#{pager.search}||'%'
  				</when> 
  				<otherwise>  				
  					C.ITEM_PRICE LIKE '%'||#{pager.search}||'%'
  				</otherwise>
  			</choose>
  		</where>
  	</select>
  	
  	
  	<insert id="addItem" parameterType="ItemDTO">
  		INSERT INTO ITEM (ITEM_NUM, CATEGORY_NUM, ITEM_NAME, ITEM_DESCRIPTION, ITEM_HP, ITEM_ATK, ITEM_DOD, ITEM_PRICE)
  		VALUES (#{item_num}, #{category_num}, #{item_name}, #{item_description}, #{item_hp}, #{item_atk}, #{item_dod}, #{item_price})
  	</insert>
  	
  	<update id="updateItem" parameterType="ItemDTO">
  		UPDATE 
  		ITEM SET
  		ITEM_NAME=#{item_name}, ITEM_DESCRIPTION=#{item_description}, ITEM_HP=#{item_hp}, ITEM_ATK=#{item_atk}, ITEM_DOD=#{item_dod}, ITEM_PRICE=#{item_price}
  		WHERE ITEM_NUM = #{item_num}
  	</update>
  	
  	<sql id="selectItemFileSql">
  		SELECT ROWNUM R,IF.*
  		FROM ITEMFILE IF
  		WHERE ITEM_NUM=#{item_num}
  		ORDER BY ITEM_NUM DESC, FILE_NUM ASC
  	</sql>
  	
  	<update id="updateItemFile" parameterType="ItemFileDTO">
  		UPDATE
  		ITEMFILE SET
  		FILE_NAME=#{file_name}, ORI_NAME=#{ori_name}
  		WHERE FILE_NUM = #{file_num}
  	</update>
  	
  	<update id="deleteItem" parameterType="ItemDTO">
  		UPDATE 
  		ITEM SET
  		ITEM_DEL = 1
  		WHERE ITEM_NUM=#{item_num}
  	</update>
  </mapper>