<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team3.tamagochi.store.StoreDAO">
  
  	<select id="getCharacterList" parameterType="com.team3.tamagochi.boards.util.Pager" resultType="CharacterDTO">
  		SELECT *
  		FROM (SELECT ROWNUM R, C.*
  				FROM (SELECT *
  					FROM CHARACTER
  					<where>
  						<choose>
  							<when test="kind=='k1'">
  								ITEM_NAME LIKE '%'||#{search}||'%'
  							</when>
  							<when test="kind=='k2'">
		  						ITEM_PRICE LIKE '%'||#{search}||'%'
		  					</when>
  						</choose>
  					</where>
  					ORDER BY CHARACTER_NUM DESC)
  				C)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getWeaponList" parameterType="com.team3.tamagochi.boards.util.Pager" resultType="WeaponDTO">
  		SELECT *
  		FROM (SELECT ROWNUM R, W.*
  				FROM (SELECT *
  					FROM WEAPON
  					<where>
  						<choose>
  							<when test="kind=='k1'">
  								ITEM_NAME LIKE '%'||#{search}||'%'
  							</when>
  							<when test="kind=='k2'">
		  						ITEM_PRICE LIKE '%'||#{search}||'%'
		  					</when>
  						</choose>
  					</where>
  					ORDER BY WEAPON_NUM DESC)
  				W)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getTotalCount" parameterType="java.util.Map" resultType="Integer">
  		SELECT COUNT(ITEM_NAME)
  		FROM
  			<choose>
  				<when test="category == 0">
  					CHARACTER
  				</when>
  				<otherwise>
  					WEAPON
  				</otherwise>
  			</choose>
  			<where>
  				<choose>
  					<when test="kind=='k1'">
  						ITEM_NAME LIKE '%'||#{pager.search}||'%'
  					</when>
  					<when test="kind=='k2'">
  						ITEM_PRICE LIKE '%'||#{pager.search}||'%'
  					</when>
  				</choose>
  			</where>
  	</select>
  	
  	<select id="getWeaponDetail" parameterType="Long" resultType="WeaponDTO">
  		SELECT *
  		FROM WEAPON
  		WHERE WEAPON_NUM=#{weapon_num}
  	</select>
  	
  	<select id="getCharacterDetail" parameterType="Long" resultType="CharacterDTO">
  		SELECT *
  		FROM CHARACTER
  		WHERE CHARACTER_NUM=#{character_num}
  	</select>
  	
  	<insert id="addItem" parameterType="WeaponDTO">
  		INSERT INTO
  		<choose>
  			<when test="weapon_description != null">
  				WEAPON (WEAPON_NUM, ITEM_NAME, WEAPON_DESCRIPTION, ITEM_HP, ITEM_ATK, ITEM_DOD, ITEM_PRICE)
  				VALUES (WEAPON_SEQ.NEXTVAL,#{item_name}, #{weapon_description}, #{item_hp}, #{item_atk}, #{item_dod}, #{item_price})
  			</when>
  			<otherwise>
  				CHARACTER (CHARACTER_NUM, ITEM_NAME, ITEM_HP, ITEM_ATK, ITEM_DOD, ITEM_PRICE)
  				VALUES (CHARACTER_SEQ.NEXTVAL,#{item_name}, #{item_hp}, #{item_atk}, #{item_dod}, #{item_price})
  			</otherwise>
  		</choose>
  		
  	</insert>
  	
  	<update id="updateItem" parameterType="java.util.Map">
  		UPDATE 
  		<choose>
  			<when test="weapon_description != null">
  				WEAPON SET
  				ITEM_NAME=#{dto.item_name}, WEAPON_DESCRIPTION=#{dto.weapon_description}, ITEM_HP=#{dto.item_hp}, ITEM_ATK=#{dto.item_atk}, ITEM_DOD=#{dto.item_dod}, ITEM_PRICE=#{dto.item_price}
  				WHERE WEAPON_NUM = #{item_num}
  			</when>
  			<otherwise>
  				CHARACTER SET
  				ITEM_NAME=#{dto.item_name}, ITEM_HP=#{dto.item_hp}, ITEM_ATK=#{dto.item_atk}, ITEM_DOD=#{dto.item_dod}, ITEM_PRICE=#{dto.item_price}
  				WHERE CHARACTER_NUM = #{item_num}
  			</otherwise>
  		</choose>
  	</update>
  	
  	<delete id="deleteItem" parameterType="java.util.Map">
  		DELETE
  		<choose>
  			<when test="category == 1">
  				WEAPON
  				WHERE WEAPON_NUM = #{item_num}
  			</when>
  			<otherwise>
  				CHARACTER
  				WHERE CHARACTER_NUM =#{item_num}
  			</otherwise>
  		</choose>
  	</delete>
  
  </mapper>