<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.team3.tamagochi.users.UsersDAO">
  	<insert id="registerUsers" parameterType="UsersDTO">
  		INSERT INTO USERS
  		(USER_ID, USER_PW, USER_NAME, USER_NICKNAME, USER_PHONE, USER_EMAIL)
		VALUES
		(#{user_id}, #{user_pw}, #{user_name}, #{user_nickname}, #{user_phone}, #{user_email})
  	</insert>
  	
  	<select id="loginUsers" parameterType="UsersDTO" resultType="UsersDTO">
  		SELECT * FROM USERS
		WHERE USER_ID = #{user_id}
  	</select>
  	
  	<update id="updateUsers" parameterType="UsersDTO">
  		UPDATE USERS SET
  		USER_PW = #{user_pw}, USER_NAME = #{user_name}, USER_NICKNAME = #{user_nickname},
  		USER_PHONE = #{user_phone}, USER_EMAIL = #{user_email}
		WHERE USER_ID = #{user_id}
  	</update>
  	
  	<update id="deleteAccount" parameterType="UsersDTO">
  		UPDATE USERS SET
  		USER_RESIGN = 0
  		WHERE USER_ID = #{user_id} AND USER_PW = #{user_pw}
  	</update>
  	
  	
  	
  	
  	
  	
  	<!-- 회원가입시 기본 캐릭터 4개를 만들어주는 쿼리문 -->
  	<!-- 캐릭터 하나당 쿼리문 하나를 작성했는데, 더 좋은 방법 알면 제보 바람 -->
  	<insert id="setDefaultCharacter1" parameterType="UsersDTO">
  		INSERT INTO MY_PET
  		(PET_NUM, USER_ID, CHARACTER_NUM, WEAPON_NUM, PET_NAME, PET_SPC,
  			PET_EXP,PET_LEVEL, PET_HP, PET_ATK, PET_DOD, PET_POP, PET_HUNGRY)
		VALUES
		(PET_SEQ.NEXTVAL, #{user_id}, 1, NULL, '오크', '오크',
			0, 1, 50, 20, 20, 0, 10)
  	</insert>
  	<insert id="setDefaultCharacter2" parameterType="UsersDTO">
  		INSERT INTO MY_PET
  		(PET_NUM, USER_ID, CHARACTER_NUM, WEAPON_NUM, PET_NAME, PET_SPC,
  			PET_EXP,PET_LEVEL, PET_HP, PET_ATK, PET_DOD, PET_POP, PET_HUNGRY)
		VALUES
		(PET_SEQ.NEXTVAL, #{user_id}, 2, NULL, '휴먼', '휴먼',
			0, 1, 50, 20, 20, 0, 10)
  	</insert>
  	<insert id="setDefaultCharacter3" parameterType="UsersDTO">
  		INSERT INTO MY_PET
  		(PET_NUM, USER_ID, CHARACTER_NUM, WEAPON_NUM, PET_NAME, PET_SPC,
  			PET_EXP,PET_LEVEL, PET_HP, PET_ATK, PET_DOD, PET_POP, PET_HUNGRY)
		VALUES
		(PET_SEQ.NEXTVAL, #{user_id}, 3, NULL, '엘프', '엘프',
			0, 1, 50, 20, 20, 0, 10)
  	</insert>
  	<insert id="setDefaultCharacter4" parameterType="UsersDTO">
  		INSERT INTO MY_PET
  		(PET_NUM, USER_ID, CHARACTER_NUM, WEAPON_NUM, PET_NAME, PET_SPC,
  			PET_EXP,PET_LEVEL, PET_HP, PET_ATK, PET_DOD, PET_POP, PET_HUNGRY)
		VALUES
		(PET_SEQ.NEXTVAL, #{user_id}, 4, NULL, '펭귄', '펭귄',
			0, 1, 50, 20, 20, 0, 10)
  	</insert>
  
  </mapper>
